{"filter":false,"title":".gitignore","tooltip":"/conFusionServer/.gitignore","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"9193e35d8b7fc33d768461505160c12c96c608bd","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":12},"action":"insert","lines":["node_modules"],"id":1}]]},"timestamp":1540483689262}